server:
  port: 8088

spring:
  application:
    name: ASTON-GATEWAY
  cloud:
    config:
      uri: http://localhost:8889
    gateway:
      routes:
        - id: astonService
          uri: lb://ASTON-SERVICE
          predicates:
            - Path=/users/**
          filters:
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 5
                redis-rate-limiter.burstCapacity: 10
                key-resolver: "#{@ipKeyResolver}"
            - name: CircuitBreaker
              args:
                name: astonServiceCircuitBreaker
                fallbackUri: forward:/fallback/users
        - id: astonKafka
          uri: lb://ASTON-KAFKA
          predicates:
            - Path=/notifications/**
          filters:
            - name: CircuitBreaker
              args:
                name: astonKafkaCircuitBreaker
                fallbackUri: forward:/fallback/notifications
    discovery:
      locator:
        enabled: false

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

resilience4j:
  circuitbreaker:
    instances:
      astonServiceCircuitBreaker:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
      astonKafkaCircuitBreaker:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3
