server:
  port: 8081

spring:
  application:
    name: ASTON-SERVICE
  cloud:
    config:
      uri: http://localhost:8889
  main:
    banner-mode: off
  datasource:
    url: jdbc:postgresql://localhost:5432/aston?currentSchema=public
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  liquibase:
    enabled: true
    change-log: classpath:db/db.changelog-master.yaml
  kafka:
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

app:
  kafka:
    bootstrap-servers: localhost:9094

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

springdoc:
  swagger-ui:
    enabled: true
    url: /openapi.yaml
