server:
  port: 8761

spring:
  application:
    name: ASTON-EUREKA
  cloud:
    config:
      uri: http://localhost:8888
  main:
    banner-mode: off

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  instance:
    hostname: localhost
